{
  "teacherId": "{{.osid}}",
  "refteacherId": "{{.teacherRefId}}",
  "firstName": "{{.teacherFirstName}}",
  "lastName": "{{.teacherLastName}}",
  "email": "{{.email}}",
  "profQualification":"{{.highestQualification}}"
}