{
    "studentId": "{{.studentId}}",
    "attendance": "{{.attendance1}}",
    "attendanceNote": "{{.attendanceNote}}",
    "date": "{{.date}}",
    "classId": "{{.classId}}",
    "subjectId": "{{.subjectId}}",
    "teacherId": "{{.teacherId}}"
}